<!-- Model đổi tên danh mục -->
<div class="modal fade" id="addCategoryModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Đổi tên danh mục</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form (submit)="onSubmit(formCategory);" #formCategory="ngForm">
      <div class="modal-body">
          <div class="form-group">
            <label>Tên danh mục</label>
            <input name="name" required [(ngModel)]="passName" class="form-control" placeholder="Tên danh mục">
            <small id="emailHelp" class="form-text text-muted">Nhớ thêm sản phảm cho danh mục mới</small>
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-primary"><a></a>Lưu</button>
      </div>
    </form>
    </div>
  </div>
</div><!-- End model đổi tên danh mục -->